body {
  background-color: #efdfd5!important;
  overflow-x: hidden ;
}

.navbar {
  background-color: #fda17c94!important;
}

.title {
  text-align: left!important;
  margin-left: 20px;
  margin-right: 0%;
  padding-top: -20px!important;
  font-family:'Roboto', sans-serif;
}

.banner { 
  max-height: 100vh;
  height: 100vh;
  max-width: 100%;
  background-image: url("images/banner.jpg");
  background-size: cover;
  background-position: 0% bottom;
  background-repeat: no-repeat;
}

#widget-carousel {
  margin: 100px 0 0 0!important;
}

.banner .title{
  text-align: center;
  margin-top: 70px!important;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}

.wave {
  width: 100%;
  position: fixed;
  z-index: 99999;
  display: flex;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow { 
  from {
    text-shadow: 0 0 10px #e60073, 0 0 20px #e60073, 0 0 30px #e60073, 0 0 40 px #e60073, 0 0 60px #e60073, 0 0 70px #e60073; 
  }

  to {
    text-shadow: 0 0 20px #ffa99d, 0 0 30px #ffa99d, 0 0 40px #ff9dce, 0 0 50px #ffa99d, 0 0 60px #ffa99d, 0 0 70px #e60073, 0 0 80px #e60073;
  }
}

.navbar-brand>img {
  width: 40px; 
  height: 40px;
  animation: rotate 1s ease-in-out;
}

.nav-link {
  text-align: center;
  margin: 5px;
  border-radius: 10px;
}

.nav-link:hover {
  background-color: #fd9d7785!important;
}

@media(max-width: 992px) {
  .nav-link{
    padding: 20px!important;
  }
}

@media(max-width: 767px) {
  #widget-carousel {
    display: none;
  }
}

@keyframes rotate{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wave{
    margin: 0;
}

.border-full {
  border-radius: 25px 0 25px 0;
}

.carousel-caption h2{
    color: black;

}

.carousel-caption h5{
  color: black;
}

.w-50 {
  width: 20%!important;
  margin-left: 180px;
}
.hola {
  padding: 80px;
  background-color: rgb(255, 250, 238);

} 

.card{
  margin-left: 50px;
}

.btn-primary{
  background-color: #ff94ab!important;
  border-color: #ff4ba5!important;
}

.carousel{
  width: 700px!important;
  margin-left: 340px; 
}
.card-body {
  background-color: #fff4f4!important;
}

.background{
  background-image: url("images/40.jpg");
  padding-top: 90px;
  padding-bottom: 90px;

}
footer{
  padding-top: 10px;
  background-color: #fdb09194;
}

.abajo{
  display: flex;
  justify-content: space-around;
}

.abajo .h5{
  margin-bottom: 200px!important;
  margin-top: 30px!important;
}

